.nav-link active {
    font-weight: bold;
}

.navbar {
    background-image: -webkit-linear-gradient(150deg, #F10B0B 75%, #FFFFFF 25%);
}

.row {
    margin-top: 50px;
    margin-bottom: 40px;
}

.col-8 {
    background-color: #F10B0B;
}

@media only screen and (max-width: 700px) {
    .navbar {
        background-image: -webkit-linear-gradient(150deg, #F10B0B 60%, #FFFFFF 40%);
    }
}

.box{
    padding: 30px;
    margin: 10px 0px;
}

.parallelogram{
    background-color: blue;
    width: 300px;
    height: 200px;
    transform: skew(20deg);
}