.a-font{
    font-family: 'Noto Sans', sans-serif;
}

.kolom-merah{
    background: #000000;
    border-style: solid;
    border-color: rgb(255,0,0);
    border-top-color: rgb(255,0,0);
    margin-top: 25px;
}

.search-for-news{
    color: rgb(255,255,255);
    font-size: 18px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.tempat-input-search{
    margin-right: 15px;
    border-radius: 5px;
    width: 233px;
}

.tombol-input-search{
    color: rgb(255,255,255);
    background: rgb(255,0,0);
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;

    display:inline-block;
    font-weight:400;
    line-height:1.5;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.upcoming-event{
    color: rgb(0,0,0);
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    background: var(--bs-gray-100);
    margin-top: 15px;
    font-family: 'Noto Sans', sans-serif;
}

.list-date-event-100{
    position:relative;
    display:block;
    padding:.5rem 1rem;
    color:#212529;
    text-decoration:none;
    border:1px solid rgba(0,0,0,.125);
    font-family: 'Noto Sans', sans-serif;
    background: var(--bs-gray-100);
}

.list-date-event-100-top{
    border-top-left-radius: 10px;border-top-right-radius: 9px;
}

.list-date-event-300{
    position:relative;
    display:block;
    padding:.5rem 1rem;
    color:#212529;
    text-decoration:none;
    border:1px solid rgba(0,0,0,.125);
    font-family: 'Noto Sans', sans-serif;
    background: var(--bs-gray-300);
}

.list-date-event-300-bottom{
    border-bottom-left-radius: 10px;border-bottom-right-radius: 9px;
    margin-bottom: 10px;
}

.find-a-event{
    font-size: 20px;
    color: rgb(255,255,255);
    font-family: 'Noto Sans', sans-serif;
}

.icon-panah-putih{
    color: rgb(255,255,255);
    margin-left: 15px;
    font-size: 20px;
}

.latest-news{
    border-radius: 10px;
    background: #ff0000;
    color: rgb(255,255,255);
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;font-weight: bold;
}

.icon-panah-merah{
    color: rgb(255,0,0);
    font-size: 35px;
    border-color: rgb(255,255,255);
    text-align: left;
    margin-top: 10px;
    padding-bottom: 6px;
}

.list-date-news-top{
    border-radius: 10px;
    margin-top: 15px;
    padding-bottom: 6px;
    font-family: 'Noto Sans', sans-serif;
}

.list-date-news-center{
    border-radius: 10px;
    padding-bottom: 6px;
    font-family: 'Noto Sans', sans-serif;
}

.padding-list-group{
    padding-bottom: 6px;
}